@import url('https://fonts.googleapis.com/css?family=Coustard:100,200,300,400,500,600;');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:100,200,300,400,500,600;');

html {
    font-family: 'Space+Mono', sans-serif;
    color: white;
    height: auto;
    text-align: center;
    display:block
    
}

body {
    background-color: black;
    /*url("https://wallpaperose.com/wp-content/uploads/2013/03/Nasa-Mars-Curiosity-Wallpaper.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    position: relative;
    margin: 0;
    font-family: 'Space+Mono', sans-serif;
    font-size: 25px;
}

/* ----- Particles */

canvas {
    display: block;
    /*vertical-align: bottom;*/
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ---- stats.js ---- */

.count-particles {
    /*background: #000022;*/
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/* ----- main element ---*/
main .parcles-js {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;

}

main {
    margin-top: 25px;
    position: relative
}

/*   search box   */

form .searchBox{
    position: relative
}

.searchBox {
    padding: 12px 10px;
}

/*------ Apod button ----- */

button.myBtn {
    font-size: 1.25em;
    font-family: 'Coustard';
    background: transparent;
    color: white;
    border: 2px solid;
    border-radius: 1em;
    cursor: pointer;
    position: relative;
    transition: .5s ease;
    top: 20%;

}

button:hover,
button:active {
    /* active not working */
    border-color: #fa923f;
    color: #fa923f;
}

button.btn-close:hover {
    color: red;
}

.btn-close {
    text-align: center;
}

#pic {
    width: 90%;
    height: 400px;
}

/* ---- APODmodal ---- */

.modalAPOD {
    display: none;
    /*set to none when setup in js*/
    background-color: rgba(0, 0, 0, 1.5);
    position: fixed;
    z-index: 200;
    overflow: auto;
    font-family: inherit;
    height: inherit;
    width: 100%;
    top: 0
}

.apod-content {
    width: 90%;
    margin: auto;
    position: relative;
    max-width: 1200px
}

.closePOD {
    display: none;
}

/*.backdrop {
    display: none; /* to be played with 
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: auto;
    left: auto;
    background: rgba(0,0,0,0.5);
    z-index:100;
}*/

/* ----------- library Search ------------ */

input {
    height: 50px;
    font-size: 20px;
    vertical-align: middle;
    position: relative;
}

.searchBox #searchInput {
    background: transparent;
    border-radius: 50px;
}

.searchBox #searchInput::placeholder {
    color: #d12d10;
    padding-left: 10px
}

.searchBox .search {
    position: relative;
    z-index: 6;
}

.searchBox input#searchInput:hover {
    transition-duration: .5s;
}

.searchBox input#searchInput:hover,
.searchBox input#search:focus,
.searchBox input#searchInput:active {
    outline: none;
    background: white;
}

/*.modal2 a {
    display: none;
}
    /*display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}*/